.producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.producto img {
    width: 120px;
    height: 160px;
}

.producto h2, .producto p {
    margin: 0;
    width: 60%; /* Agregar esta propiedad para establecer el ancho */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

footer img {
    width: 70px;
}
