h1 {
    font-size: 40px; /* Tama침o de la fuente */
    background-color: #FFA07A;
    color: #129961; /* Color texto */
    margin: 10px 0; /* Espacio al encabezado */
    font-family: 'Josefin Sans', sans-serif; /* Fuente Google */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* sombra */
}

hr { /* Estilos lineas */
    border: none;
    height: 3px;
    background-color: #FFA07A;
    
}

.container {
    background-color: #FFDAB9; /* Este es un valor de color salm칩n m치s claro */
}

.producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.producto img { /* Estilo imgenes productos */
    width: 120px;
    height: 160px;
    border: 2px solid #FFA07A;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s ease;
}

.producto img:hover {
    transform: scale(1.1); /* Aumenta el tama침o al hacer hover */
}

.producto h2, .producto p {
    margin: 0;
    width: 60%; /* Agregar esta propiedad para establecer el ancho */
}

.producto h2 {
    font-size: 24px; /* precio, descripcion */
    color: #FF5733; /* Cambia el color del texto (puedes ajustarlo) */
    text-decoration: underline; /* Agrega un subrayado al texto */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

footer img {
    width: 70px;
}
