body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #FFA07A;  /* Color de fondo salmón */
    text-align: center;
    padding: 20px 0;
    border: 2px solid #8B0000;  /* Borde color bordó */
}

#catalogo img {
    width: 100px; /* O el tamaño que prefieras */
    height: auto;
    margin: 10px 0;
}
